# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Shell scripts
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.webp binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.rar binary
*.tar binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.otf binary
*.asar binary
*.exe binary
*.dmg binary
*.pkg binary
*.deb binary
*.rpm binary
*.AppImage binary
*.lnk binary
*.url binary
